name: Manual Branch Sync

on:
  workflow_dispatch:

jobs:
  sync-branches:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout source repository
      uses: actions/checkout@v4
      with:
        repository: mozi9/mi
        ref: cs
        path: source-repo
        token: ${{ secrets.CROSS_REPO_TOKEN }}

    - name: Configure Git
      run: |
        git config --global user.name "mozi9"
        git config --global user.email "mozi9@users.noreply.github.com"

    - name: Push to target repository
      run: |
        cd source-repo
        git push https://mozi9:${{ secrets.CROSS_REPO_TOKEN }}@github.com/mozi9/kernel_xiaomi_sm8250.git cs:cs --force
